body{
	background-color: #dad3cb;
	font-family: Archivo Narrow;
	-webkit-print-color-adjust: exact;
}
.wrapper{
	width: 80%;
	/*background-color: #dad3cb;*/
	/*margin: 0px;*/
}
.text{
	/*width: 100%;*/
}
.left{
	/*width: 50%;*/
	/*float: left;*/
}
.right{
	/*width: 50%;*/
	
	/*margin: 0px;*/
}
table {
  border-collapse: collapse;
  margin-left: 20px;
  position: relative;
  bottom: 10px;
}
tr{
	  height: 24px;
	  font-size: 13px;
}
td{
	padding-left: 10px;
}
.tables-box{
	
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  /*padding: 2px;*/
  /*height: 300px;*/ /* Should be removed. Only for demonstration */
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

p:after{
	content: "";
	display: block;
	width: 180px;
	height: 1px;
	background-color: #000;
	position: relative;
	left: 75px;
	bottom: 8px;
	z-index: -2;

}
label:after{
	content: "";
	display: block;
	width: 86%;
	height: 1px;
	background-color: #000;
	position: relative;
	left: 100px;
	bottom: 8px;
	z-index: -2;
}

@media print {
  #printPageButton {
    display: none;
  }
}
@media print {
	body{
	/*background-color: #dad3cb !important;*/
	-webkit-print-color-adjust: exact;
}
}