body{
	background-color: #dad3cb;
	font-family: Archivo Narrow;
	-webkit-print-color-adjust: exact;
	margin: 0;
}
.wrapper{
	width: 100%;
	height: auto;
	/*background-color: red;*/
	margin: 0;
	/*display: inline-block;*/
}
.top{
	width: 100%;
	height: auto;
	/*background-color: blue;*/
}
h2{
	text-align: center;
	font-style: italic;
}
.column-left {
  float: left;
  width: 60%;
 /* padding: 10px;*/
  height: auto; 
}
.column-right {
  float: left;
  width: 40%;
 /* padding: 10px;*/
 /* height: auto; */
}
.left-box {
	width: 80%;
	height: 140px;
	border:1px solid #000;
	border-radius: 8px;
	margin: 0;
	position: relative;
	left: 50px;
	padding-left: 10px;*/
	/*text-align: center;*/
}
.right-box {
	width: 68%;
	height: 140px;
	border:1px solid #000;
	border-radius: 8px;
	margin: 0;
	position: relative;
	left: 50px;
	padding-left: 10px;
	/*text-align: center;*/
}
.num{
	margin-top: 20px;
    position: relative;
    left: 78px;
    bottom: 41px;
    border-bottom: 1px solid black;
    width: 43px;
}
.company{
	margin-top: 20px;
    position: relative;
    left: 84px;
    bottom: 41px;
   left: 139px;
    bottom: 84px;
    border-bottom: 1px solid black;
    width: 180px;
}
.head{
	margin: 0;
	margin-top: 10px;
	position: relative;
	bottom: 79px;
}
.num1{
	float: right;
	position: relative;
	bottom: 55px;
    right: 14px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 80px;
}
.dte{
	margin-top: 20px;
    position: relative;
    left: 94px;
    bottom: 44px;
    border-bottom: 1px solid black;
    width: 86px;
}
.due{
	margin: 0;
	margin-top: 10px;
	position: relative;
	bottom: 50px;
}
.due-dte{
	margin-top: 20px;
    position: relative;
    left: 94px;
    bottom: 94px;
    border-bottom: 1px solid black;
    width: 86px;
}
.tbl{
	width: 92%;
	position: relative;
	top:10px;
	left: 30px;
}
.table-one{
	border-collapse: collapse;
	border-radius: 8px;
	border-radius: 10px;
    border-style: hidden; 
    box-shadow: 0 0 0 1px #666; 
}
tr{
	height: 15px;
}
td{
	padding-left: 10px;
}
.footer{
	width: 100%;
	height: 150px;
	/*background-color: orange;*/
	margin-top: 30px;
}
.left-footer{
	width: 70%;
	height: 200px;
	float: left;
	/*border:1px solid red;
	background-color: green;*/
}
.right-footer{
	width: 30%;
	height: 200px;
	float: left;
	/*border:1px solid red;
	background-color: green;*/
}
* {
  box-sizing: border-box;
}
.single-tbl{
	width: 95%;
	position: relative;
	top:24px;
	left: 28px;
}
table{
	border-collapse: collapse;
}
.text2{
	padding-left: 20px;
}
.net{
	float:right;
	position: relative;
	bottom: 55px;
	right: 60px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 50px
}
.sign{
	border-top: 1px solid black;
    width: 91px;
    position: relative;
    top: 120px;
    left: 102px;
}
.sign1{
	 position: relative;
     top: 81px;
    left: 297px;
    border-top: 1px solid black;
    width: 86px;
}
@media print {
  #printPageButton {
    display: none;
  }
}